.col-md-3.col-sm-3.col-xs-3.col-lg-3.center
  %h3= 'Mes informations'
  %p
    = 'Les informations de base'
    %br
    = 'vous concernant.'

.etape.etapes_informations.col-md-9.col-sm-9.col-xs-9.col-lg-9
  = form_for @facade.dossier, url: { controller: '/users/dossiers', action: :update } do |f|
    .row
      .col-md-12.col-sm-12.col-xs-12.col-lg-12.padding-left-30
        = f.hidden_field :id
        = f.fields_for :individual, @facade.individual do |ff|
          -# FIXME: Form fields should not be put under label tag
          -# FIXME: h4 is supposed to be used as a title, not a form label
          .form-group
            %label
              %h4= 'Civilité'
              = ff.select :gender, %w(Mr Mme)
          .form-group
            %label
              %h4= 'Nom *'
              = ff.text_field :nom, {class: 'form-control'}
          .form-group
            %label
              %h4= 'Prénom *'
              = ff.text_field :prenom, {class: 'form-control'}
    .row
      .text-center
        = f.submit 'Etape suivante', class: 'action', id: 'etape_suivante'