.content#commentaires_flux{style: 'width:100%;'}
  %label{style: 'text-transform: uppercase; font-size: 0.8em; color: #aaa;'}= 'Champ'
  %p= @facade.champ.libelle
  %label{style: 'text-transform: uppercase; font-size: 0.8em; color: #aaa;'}= 'Valeur'
  - if @facade.champ.value
    %p#value= @facade.champ.value.html_safe
    #copy_champ_value
      %button.btn.btn-xs.btn-primary
        %i.fa.fa-arrow-down
        = 'Copier cette valeur dans le commentaire'

  %hr
  %h3= 'Commenter ce champ'

  %br
  #commentaire_new{style: 'width: 90%; margin-left: auto; margin-right: auto; margin-bottom: 7%;'}
    = form_tag users_dossier_commentaire_path(dossier_id: @facade.dossier.id, champ_id: @facade.champ_id), method: :post, remote: true, multipart: true, class: 'form-inline' do
      = hidden_field_tag :authenticity_token, form_authenticity_token
      %textarea.form-control{id: 'texte_commentaire', class: 'wysihtml5', name: 'texte_commentaire', style: 'width: 100%; margin-bottom: 2%;', rows: '5', placeholder: 'Commentaire'}
      %h4.text-primary{style: 'margin-top: 0px;'}= 'Ajouter un fichier'
      = file_field_tag "piece_justificative[content]", accept:  PieceJustificative.accept_format, style: 'float: left; margin-left: 20px;'
      %input.form-control.btn.btn-success{type: 'submit', value: 'Poster', style: 'float:right'}

  %hr
  %h3= 'Commentaires'

  - if @facade.commentaires.empty?
    %em= 'Aucun commentaire pour le moment'

  - @facade.commentaires.each do |com|
    %span.text-info#email_contact{style: 'font-weight: bold;'}
      = com.email
    %span#created_at
      \-
      = com.created_at_fr
    - if com.piece_justificative.present?
      \-
      %span#piece_justificative
        %b
          = link_to com.piece_justificative.original_filename, com.piece_justificative.content_url, style: 'color: green;', target: '_blank'

    %br
    .description#body
      = com.body.html_safe

    %br